* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Bookish;
  }
  body {
    background-color: #bfe1ff;
  }
  #tenuser{
    color:#000103;
    background-color: #ffffff;
    border-radius: 30px;
  }
  #menu{
    display: flex;
    justify-content: center;
  }
  nav ul {
    font-size:large;
    list-style-type: none;
    margin: 0;
    padding: 0;
    }

    nav li {
        display: inline-block;
        border: 1px solid #000103;
        border-radius: 20px;
        padding: 10px;
        margin-right: 10px;
        transition: border-color 0.3s ease;
        display: inline;
        margin-right: 30px;
    }
    nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: color 0.3s ease;
    }
    nav a:hover {
    color: rgb(0, 4, 252);
    }
    